.ContenedorHome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}
.Titulo {
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.582);
  text-decoration: solid;
}
