.NavBar {
  background: #3134359d !important;
}
.FormatText a {
  text-decoration: none !important;
  color: white !important;
  font-size: large;
}
.FormatText a:hover {
  color: rgba(238, 255, 6, 0.788) !important;
  font-weight: bold;
}
.TextDropdown {
  color: black !important;
  background: #3134359d !important;
}
.ContainerNavbar {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: space-around !important;
}
.dropdown-menu {
  padding: 0;
}
