.footer {
  background: rgba(49, 52, 53, 0.95) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 6rem;
  width: 100%;
  /* margin-bottom: 0%; */
  position: fixed;
  bottom: 0;
  /* position: fixed;
  bottom: 0; */
  /* align-self: flex-end; */
}

.footer__redesSociales {
  width: 100%;
  display: inline-block;
  text-align: center;
  flex-direction: row;
  margin: 0px;
  padding: 0%;
}

.footer__animacionRedes:hover {
  transform: scale(1.3);
}

.footer__redesSociales li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  margin: 0%;
}

.footer__autor {
  color: white;
  padding-bottom: 10px;
  display: block;
}
ul {
  list-style: none;
}
